<!DOCTYPE html>

<title>Edit TblUserorder</title>

{% block body %}
    <h1>Edit TblUserorder</h1>

    {{ include('tbl_userorder/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tbl_userorder_index') }}">back to list</a>

    {{ include('tbl_userorder/_delete_form.html.twig') }}
{% endblock %}
