<!DOCTYPE html>

<title>New TblUserorder</title>

{% block body %}
    <h1>Create new TblUserorder</h1>

    {{ include('tbl_userorder/_form.html.twig') }}

    <a href="{{ path('app_tbl_userorder_index') }}">back to list</a>
{% endblock %}
