{% extends 'baseFront.html.twig' %}


{% block content %}

    <link href={{ asset('assets/css/styleProfile.css') }} rel="stylesheet">

    <div style="padding:70px">

        <section id="checkout" class="pt-120 pb-120">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="head-area top">
                                <h4>Password Management</h4>
                                <p>Please enter your new Credentials</p>
                            </div>
                            <div class="form-area">
                                <form action="{{ path('changepwd', {'id': User.id}) }}" method="GET" novalidate>


                                    <div class="form-group">
                                        <label>Mot de passe</label>
                                        <input  name="mdp1" id="mdp1"
                                                class="form-control" autocomplete="text" required autofocus
                                                placeholder="mot de passe" type="password">
                                    </div>
                                    <div class="form-group">
                                        <label>Conformer mot de passe</label>
                                        <input  name="mdp2" id="mdp2"
                                                class="form-control" autocomplete="text" required autofocus
                                                placeholder="confirmer mot de passe" type="password">
                                    </div>
                                    <div class="form-group">
                                        <label>Code de vérification</label>
                                        <input  name="codeverif" id="codeverif"
                                                class="form-control" autocomplete="text" required autofocus
                                                placeholder="code de vérification" type="text">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="cmn-btn">Send</button>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </form>


                            </div>
                        <div class="payment-container billing">
                            <div class="head-area">
                                <h4>Billing method</h4>
                                <p>Please enter your payment method</p>
                            </div>
                            <div class="billing-method">
                                <div class="single-area">
                                    <div class="form-check">
                                        <div class="radio-area">
                                            <input type="radio" id="one" name="optradio" class="form-check-input" checked>
                                            <span class="checkmark fedex"></span>
                                        </div>
                                        <label for="one" class="d-flex justify-content-between align-items-center">
                                            <span class="head">FedEx</span>
                                            <span class="mid">
                                                <span class="currency">+32 USD</span>
                                                <span>Additional price</span>
                                            </span>
                                            <img src="images/fedex.png" alt="image">
                                        </label>
                                    </div>
                                </div>
                                <div class="single-area">
                                    <div class="form-check">
                                        <div class="radio-area">
                                            <input type="radio" id="two" name="optradio" class="form-check-input">
                                            <span class="checkmark"></span>
                                        </div>
                                        <label for="two" class="d-flex justify-content-between align-items-center">
                                            <span class="head">DHL</span>
                                            <span class="mid">
                                                <span class="currency">+15 USD</span>
                                                <span>Additional price</span>
                                            </span>
                                            <img src="images/dhl.png" alt="image">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
    </div>
    </section>
    <div id="divCheckbox" style="display: none;">{{ form_rest(form_modify) }}</div>



{% endblock %}