{% extends 'baseFront.html.twig' %}

{% block title %} Login {% endblock %}

{% block content %}

    <!-- Login Reg In start -->
    <section id="login-reg">
        <div class="overlay pb-120">
            <div class="container">
                <div class="row pt-120 d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="login-reg-main text-center">
                            <h4>Contact us</h4>
                            <div class="form-area">
                                <form action="{{ path('passerRec') }}" method="POST" novalidate>


                                    {{ include('reclamation/_form.html.twig') }}


                                </form>

                                <div class="or">
                                    <p>OR</p>
                                    <a href="{{ path('app_reclamation_index') }}">back to list</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}