{% extends 'baseFront.html.twig' %}

{% block title %} PAGE NOT FOUND {% endblock %}

{% block bannerTitle %} Error {% endblock %}

{% block content %}
<section id="error-section">
    <div class="overlay pb-120 pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="main-content pt-120 pb-120 text-center">
                        <h3>Whoops..</h3>
                        <h5>page not found</h5>
                        <a href="{{ path('test') }}" class="cmn-btn">Go Home!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}