{% extends 'baseBack.html.twig' %}

{% block title %}Edit TblReclamation{% endblock %}

{% block content %}
    <h1>Edit TblReclamation</h1>

    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('consulter') }}">back to list</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
