<form method="post" action="{{ path('app_option_delete', {'idoption': tbl_option.idoption}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbl_option.idoption) }}">
    <button class="btn btn-danger">Delete</button>
</form>
