{% extends 'baseFront.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}

    <!-- Login Reg In start -->
    <section id="login-reg">
        <div class="overlay pb-120">
            <div class="container">
                <div class="row pt-120 d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="login-reg-main text-center">
                            <h4>Let's get started</h4>
                            <div class="form-area">
                                {{ include('entreprise/_form.html.twig') }}
                                <div class="or">
                                    <p>OR</p>
                                </div>
                                <div class="sign-in">
                                    <p>Sign in with your</p>
                                </div>
                                <div class="reg-with">
                                    <div class="social-area d-flex justify-content-center">
                                        <a href="javascript:void(0)"><img src="images/social-icon-1.png" alt="image"></a>
                                        <a class="twitch" href="javascript:void(0)"><img src="images/social-icon-2.png" alt="image"></a>
                                        <a class="google" href="javascript:void(0)"><img src="images/social-icon-3.png" alt="image"></a>
                                    </div>
                                </div>
                                <div class="account">
                                    <p>Already have an account? <a href="../security/login.html.twig">Sign In</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
