{% extends 'baseBack.html.twig' %}

{% block title %}  Edit Post  {% endblock %}
{% block content %}

    {{ include('backTemplate/post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_post_index') }}">back to list</a>

    {{ include('backTemplate/post/_delete_form.html.twig') }}
{% endblock %}
